#displayCards {
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-evenly;
}

.card {
    background-color: #1b4332;
    color: whitesmoke;
    border: solid 8px #1b4332;
    border-radius: 5px;
    margin: 10px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.charInfo {
    margin: 2px;
}